---
import ReviewsList from './reviews-list.astro'
import Section from './section.astro'
import Timeline from './timeline.astro'
---

<main class='flex flex-col justify-between items-start w-full md:pt-24'>
  <Section
    classNames='h-full w-full max-h-[calc(100vh - 5rem)]  scroll-mt-24 '
    id='sobre-mi'
    title='sobre mi'>
    <>
      <p class='text-gray-300 font-base text-lg leading-base mb-8'>
        Me gradué en 1992 de <span class='text-white font-bold'>
          TSU en Infomática mención administración de empresas</span
        >, cuento con más de <span class='text-white font-bold'>15 años</span>de
        experiencia administrando satisfactoria y eficazmente <span
          class='text-white font-bold'>diferentes empresas.</span
        >
      </p>
      <p class='text-gray-300 font-base text-lg leading-base mb-8'>
        Desde hace 5 años he desempeñado los roles de asistente de Médico con
        las responsabilidades de <span class='text-white font-bold'
          >agendar</span
        > y <span class='text-white font-bold'>dar atención</span>a los
        diferentes pacientes, siempre ofreciendole el mejor servicio posible y
        de asistencia a la presidencia en la papelería antes mencionada donde me
        encargaba del <span class='text-white font-bold'>análisis</span> de
        inventario, <span class='text-white font-bold'>control</span> de las
        ventas y de los <span class='text-white font-bold'>cobros</span>del
        banco.
      </p>
    </>
  </Section>
  <Section id='reseñas' title='reseñas'>
    <ReviewsList />
  </Section>
  <Section id='experiencia' title='Experiencia'>
    <Timeline />
  </Section>
</main>
