---
import ReviewsList from './reviews-list.astro'
import Section from './section.astro'
import Timeline from './timeline.astro'
---

<main class='flex flex-col justify-between items-start w-full md:pt-24'>
  <Section
    classNames='h-full w-full max-h-[calc(100vh - 5rem)]  scroll-mt-24 '
    id='sobre-mi'
    title='sobre mi'>
    <>
      <p
        class='text-gray-300 font-base text-lg leading-base mb-8 print:text-black'>
        Me gradué en 1992 de <span
          class='text-white font-bold print:text-black'>
          TSU en Infomática mención administración de empresas</span
        >, cuento con más de <span class='text-white font-bold print:text-black'
          >15 años</span
        > de experiencia administrando satisfactoria y eficazmente <span
          class='text-white font-bold print:text-black'
          >diferentes empresas</span
        > y
        <span class='text-white font-bold print:text-black'> puestos.</span>
      </p>
      <p
        class='text-gray-300 font-base text-lg leading-base mb-8 print:text-black'>
        Desde hace 5 años he desempeñado los roles de asistente Médico con las
        responsabilidades de <span class='text-white font-bold'>agendar</span>y
        <span class='text-white font-bold'> dar atención</span> a los diferentes
        pacientes, siempre ofreciendo el mejor servicio.
      </p>
    </>
  </Section>
  <Section id='reseñas' title='reseñas' classNames='print:hidden'>
    <ReviewsList />
  </Section>
  <Section id='experiencia' title='Experiencia'>
    <Timeline />
  </Section>
</main>
