<nav class='mt-6 text-white hidden md:block'>
  <ul>
    <li>
      <a
        class='flex items-center justify-start gap-x-2 group cursor-pointer'
        href='#sobre-mi'>
        <div
          class='h-[2px] w-4 bg-gray-200 rounded-full group-hover:w-12 transition-all group-hover:bg-white'>
        </div>
        <span
          class='text-gray-200 group-hover:text-white transition-all text-lg font-medium'>
          Sobre mí
        </span>
      </a>
    </li>

    <li>
      <a
        class='flex items-center justify-start gap-x-2 group cursor-pointer'
        href='#reseñas'>
        <div
          class='h-[2px] w-4 bg-gray-200 rounded-full group-hover:w-12 transition-all group-hover:bg-white'>
        </div>
        <span
          class='text-gray-200 group-hover:text-white transition-all text-lg font-medium'>
          Reseñas
        </span>
      </a>
    </li>
    <li>
      <a
        class='flex items-center justify-start gap-x-2 group cursor-pointer'
        href='#experiencia'>
        <div
          class='h-[2px] w-4 bg-gray-200 rounded-full group-hover:w-12 transition-all group-hover:bg-white'>
        </div>
        <span
          class='text-gray-200 group-hover:text-white transition-all text-lg font-medium'>
          Experiencia
        </span>
      </a>
    </li>{' '}
  </ul>
</nav>
