---
import { cn } from '../lib/utils'
type Props =  {
  id: string
  classNames?: string
  title?: string
}
const {id, title, classNames } = Astro.props
---


<section id={id} class={cn(classNames, "w-full relative mb-4 md:mb-6 max-h-screen scroll-mt-12")}>
  <h2 class="text-lg font-extrabold uppercase tracking-widest text-gray-50 lg:sr-only mb-4 md:hidden ">{title}</h2>
  <slot />
</section>