---
import { cn } from '../lib/utils'
type Props = {
  id: string
  classNames?: string
  title?: string
}
const { id, title, classNames } = Astro.props
---

<section
  id={id}
  class={cn(
    classNames,
    'w-full relative mb-4 md:mb-6  scroll-mt-12 min-h-full print:text-black'
  )}>
  <h2
    class='text-lg font-extrabold uppercase tracking-widest text-gray-50 mb-4 print:text-black'>
    {title}
  </h2>
  <slot />
</section>
